<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647647150329-h9p1l8etemctcdqbp5uldhq5qm3cgo5r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647647150329-h9p1l8etemctcdqbp5uldhq5qm3cgo5r</string>
	<key>API_KEY</key>
	<string>AIzaSyB68Sd6zvRzOhreLIfivRbyX3JXt0bLlwM</string>
	<key>GCM_SENDER_ID</key>
	<string>647647150329</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectMaster</string>
	<key>PROJECT_ID</key>
	<string>get-to-know-g1-f0fd9</string>
	<key>STORAGE_BUCKET</key>
	<string>get-to-know-g1-f0fd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647647150329:ios:ff6a078910bf00d805a228</string>
</dict>
</plist>